<% include ../partials/header %>
<div class="jumbotron">
            <h1 class="display-2">hello :)</h1>
            <p class="lead">tansuta ratkaew </p>
        </div>
<% include ../partials/footer %>