<% include ../partials/header %>
<div class="jumbotron">
            
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Credits</th>
            <th>Sections</th>

        </tr>
    </thead>
    <tbody>
    <%subjects.forEach(function(subjects){ %>
<tr>
            <td scope="row"><%= subjects.id%></td>
            <td><%= subjects.title%></td>
            <td><%= subjects.credits%></td>
            <td><%= subjects.sections%></td>
        </tr>
    <% }); %>
        
        
    </tbody>
</table>

        </div>